In [1]:
!pip install yolosplitter

Collecting yolosplitter
  Downloading yolosplitter-0.5.0.0-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: pandas in c:\users\ting-yi\miniconda3\envs\digi_image\lib\site-packages (from yolosplitter) (2.2.3)
Requirement already satisfied: tqdm in c:\users\ting-yi\miniconda3\envs\digi_image\lib\site-packages (from yolosplitter) (4.67.1)
Requirement already satisfied: PyYAML in c:\users\ting-yi\miniconda3\envs\digi_image\lib\site-packages (from yolosplitter) (6.0.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\ting-yi\miniconda3\envs\digi_image\lib\site-packages (from pandas->yolosplitter) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ting-yi\miniconda3\envs\digi_image\lib\site-packages (from pandas->yolosplitter) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ting-yi\miniconda3\envs\digi_image\lib\site-packages (from pandas->yolosplitter) (2022.7.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ting-yi\miniconda3\envs\digi_image\lib\site-packages (from pandas->yolosplitter) (2024.2)
Requirement already satisfied: colorama in c:\users\ting-yi\miniconda3\envs\digi_image\lib\site-packages (from tqdm->yolosplitter) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\ting-yi\miniconda3\envs\digi_image\lib\site-packages (from python-dateutil>=2.8.2->pandas->yolosplitter) (1.16.0)
Downloading yolosplitter-0.5.0.0-py3-none-any.whl (5.2 kB)
Installing collected packages: yolosplitter
Successfully installed yolosplitter-0.5.0.0

In [2]:
from yolosplitter import YoloSplitter

In [3]:
ys = YoloSplitter(imgFormat=['.png'], labelFormat=['.txt'] )

In [14]:
df = ys.from_mixed_dir(input_dir="E:/Test/",ratio=(0.8,0.2,0))

In [15]:
ys.info()

{'train': 391,
 'val': 98,
 'test': 0,
 'cls_names': {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11},
 'errors': 0}

In [16]:
ys.get_dataframe()

,images,labels,annots,cls_names,set,new_set
0,BlackBishop_2302.png,BlackBishop_2302.txt,"[[3, [0.53836, 0.573041, 0.068122, 0.064236]]]",[3],,val
1,BlackBishop_2303.png,BlackBishop_2303.txt,"[[3, [0.394676, 0.576265, 0.105489, 0.062748]]]",[3],,train
2,BlackBishop_2304.png,BlackBishop_2304.txt,"[[3, [0.541501, 0.489087, 0.059854, 0.075893]]]",[3],,train
3,BlackBishop_2305.png,BlackBishop_2305.txt,"[[3, [0.606978, 0.56994, 0.087632, 0.045635]]]",[3],,train
4,BlackBishop_2306.png,BlackBishop_2306.txt,"[[3, [0.656746, 0.530506, 0.108466, 0.042659]]]",[3],,train
...,...,...,...,...,...,...
484,WhiteRook_2296.png,WhiteRook_2296.txt,"[[8, [0.74289, 0.383185, 0.070437, 0.056548]],...",[8],,train
485,WhiteRook_2297.png,WhiteRook_2297.txt,"[[8, [0.715443, 0.408854, 0.069114, 0.059772]]...",[8],,val
486,WhiteRook_2298.png,WhiteRook_2298.txt,"[[8, [0.718585, 0.477803, 0.062831, 0.045883]]...",[8],,val
487,WhiteRook_2299.png,WhiteRook_2299.txt,"[[8, [0.741402, 0.504216, 0.075397, 0.042659]]...",[8],,train
488,WhiteRook_2300.png,WhiteRook_2300.txt,"[[8, [0.766038, 0.413442, 0.08168, 0.05506]], ...",[8],,train

In [17]:
ys.save_split(output_dir="E:/split_data/")

100%|██████████| 489/489 [01:40<00:00,  4.87it/s]

In [18]:
ys.show_errors()

[]

In [19]:
ys.get_dataframe()

,images,labels,annots,cls_names,set,new_set
0,BlackBishop_2302.png,BlackBishop_2302.txt,"[[3, [0.53836, 0.573041, 0.068122, 0.064236]]]",[3],,val
1,BlackBishop_2303.png,BlackBishop_2303.txt,"[[3, [0.394676, 0.576265, 0.105489, 0.062748]]]",[3],,train
2,BlackBishop_2304.png,BlackBishop_2304.txt,"[[3, [0.541501, 0.489087, 0.059854, 0.075893]]]",[3],,train
3,BlackBishop_2305.png,BlackBishop_2305.txt,"[[3, [0.606978, 0.56994, 0.087632, 0.045635]]]",[3],,train
4,BlackBishop_2306.png,BlackBishop_2306.txt,"[[3, [0.656746, 0.530506, 0.108466, 0.042659]]]",[3],,train
...,...,...,...,...,...,...
484,WhiteRook_2296.png,WhiteRook_2296.txt,"[[8, [0.74289, 0.383185, 0.070437, 0.056548]],...",[8],,train
485,WhiteRook_2297.png,WhiteRook_2297.txt,"[[8, [0.715443, 0.408854, 0.069114, 0.059772]]...",[8],,val
486,WhiteRook_2298.png,WhiteRook_2298.txt,"[[8, [0.718585, 0.477803, 0.062831, 0.045883]]...",[8],,val
487,WhiteRook_2299.png,WhiteRook_2299.txt,"[[8, [0.741402, 0.504216, 0.075397, 0.042659]]...",[8],,train
488,WhiteRook_2300.png,WhiteRook_2300.txt,"[[8, [0.766038, 0.413442, 0.08168, 0.05506]], ...",[8],,train

In [20]:
ys.info()

{'train': 391,
 'val': 98,
 'test': 0,
 'cls_names': {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11},
 'errors': 0}